*.iml
*.log
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/AndroidProjectSystem.xml
/.idea/migrations.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
.DS_Store
/build
/app/release
/app/debug
/captures
/out
.externalNativeBuild
.cxx
local.properties
